/* 重置默认样式 */
*{
    box-sizing: border-box;
}
    html,
    body,
    #app{
        height: 100%;
    }
    body,
    div,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    code,
    form,
    fieldset,
    legend,
    input,
    textarea,
    p,
    blockquote,
    th,
    td,
    hr,
    button,
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section{
        margin: 0;
        padding: 0;
    }

    button{
        outline: none;
        border: 0;
        background-color: #fff;
    }
    
    input{
        outline: none;
        border: 0;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    img{
        vertical-align: top;
    }

    /* 整体页面通用样式 */
    .pageSty{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .main{
        flex: 1;
        overflow: auto;
    }